@media (max-width: 1280px) {
  .logo {
    width: 80px;
  }
  .sidepanel {
    top: 80px;
  }
  .sidepanel__social {
    width: 20px;
    grid-template-rows: 25px 25px;
    row-gap: 15px;
  }
  .sidepanel__line {
    left: -65px;
    width: 150px;
    top: 150px;
  }
  .sidepanel__text {
    bottom: 120px;
    left: -66px;
    font-size: 15px;
  }
  .container {
    padding: 20px 100px;
  }
  .header__login {
    width: 150px;
    height: 50px;
  }
  .title {
    font-size: 42px;
    line-height: 46px;
  }
  .promo__description-text {
    font-size: 28px;
  }
  .promo__img-wrapper {
    width: 400px;
    right: 70px;
  }
  .promo__left {
    margin-top: 0;
  }
  .promo__description-levels {
    font-size: 25px;
  }
  .promo__description-btn {
    width: 250px;
    font-size: 20px;
    height: 60px;
  }
  .product__cards-title {
    font-size: 28px;
  }
  .product__cards-item {
    max-width: 334px;
    padding: 15px 15px;
    min-height: 380px;
    margin-right: 20px;
  }
  .product__cards-item-title {
    font-size: 22px;
  }
  .product__cards-item-descr {
    font-size: 19px;
    line-height: 29px;
  }
  .product__cards-item-details {
    font-size: 20px;
  }
  .product__cards-item-bottom {
    bottom: 30px;
  }
  .product__cards-item-btn {
    width: 180px;
    font-size: 20px;
    height: 45px;
    margin-top: 15px;
  }
  .footer__copyright {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  .header__menu-item {
    margin-right: 70px;
  }
  .header__menu-item a {
    font-size: 16px;
  }
  .container {
    padding: 20px 50px;
  }
  .title {
    font-size: 40px;
    line-height: 44px;
  }
  .promo__description-text {
    font-size: 26px;
  }
  .promo__description-level {
    font-size: 24px;
  }
  .logo {
    width: 70px;
  }
  .promo__img-wrapper {
    width: 350px;
    right: 5px;
  }
  .promo__description-btn {
    width: 230px;
    font-size: 17px;
    height: 50px;
  }
  .product__cards .container {
    padding: 20px 20px;
  }
  .product__cards-item {
    min-height: 360px;
  }
  .product__cards-item-descr {
    margin-top: 5px;
  }
  .product__cards-item-details {
    font-size: 19px;
  }
  .product__cards-item-btn {
    width: 150px;
    font-size: 18px;
    height: 45px;
  }
  .product__cards-item-bottom {
    bottom: 20px;
  }
}
@media (max-width: 768px) {
  .modal__show {
    width: 320px;
  }
  .modal__login-title-active {
    font-size: 24px;
  }
  .modal__btn {
    width: 150px;
    height: 50px;
  }
  .container {
    padding: 20px 30px;
  }
  .product__cards .container {
    padding: 20px 30px;
  }
  .logo {
    width: 60px;
  }
  .header__menu-item {
    margin-right: 25px;
  }
  .header__menu-item a {
    font-size: 15px;
  }
  .header__login {
    width: 100px;
    height: 35px;
    font-size: 15px;
  }
  .sidepanel__social {
    width: 17px;
    row-gap: 10px;
  }
  .sidepanel__line {
    left: -67px;
  }
  .sidepanel__text {
    font-size: 14px;
  }
  .promo__description-text {
    max-width: 320px;
    font-size: 24px;
  }
  .promo__description-level {
    font-size: 22px;
  }
  .promo__description-levels {
    margin-top: 15px;
  }
  .promo__description-level-line {
    width: 25px;
  }
  .promo__description-level {
    padding-left: 5px;
    font-size: 20px;
  }
  .promo__description-level::before {
    width: 17px;
    height: 17px;
  }
  .promo__img-wrapper {
    width: 260px;
    right: 0;
  }
  .promo__description-btn {
    width: 200px;
    font-size: 16px;
  }
  .title {
    font-size: 36px;
    line-height: 40px;
  }
  .product__cards-title {
    font-size: 26px;
  }
  .product__cards-item {
    min-height: 350px;
    max-width: 250px;
    margin-right: 7px;
    padding: 10px 10px;
  }
  .product__cards-item-title {
    font-size: 20px;
  }
  .product__cards-item-descr {
    line-height: 25px;
    font-size: 18px;
  }
  .product__cards-item-bottom {
    bottom: 20px;
  }
  .product__cards-item-details {
    font-size: 18px;
  }
  .product__cards-item-btn {
    width: 130px;
    font-size: 17px;
    height: 42px;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 10px 30px;
  }
  .modal {
    max-width: 250px;
  }
  .header {
    display: none;
  }
  .sidepanel {
    display: none;
  }
  .title {
    font-size: 30px;
    line-height: 30px;
  }
  .promo__description-text {
    margin-top: 5px;
    line-height: 26px;
  }
  .promo__img-wrapper {
    display: none;
  }
  .promo__description-level {
    font-size: 18px;
  }
  .promo__description-level::before {
    width: 15px;
    height: 15px;
  }
  .promo__description-level-line {
    left: -24px;
    width: 28px;
  }
  .promo__description-btn {
    margin-top: 10px;
    width: 180px;
    height: 45px;
    font-size: 15px;
  }
  .product__cards-title {
    font-size: 23px;
  }
  .product__cards-items {
    margin-top: 15px;
  }
  .hamburger__toggle {
    visibility: visible;
  }
  .modal {
    padding: 30px 0;
  }
  .modal__login-title {
    font-size: 22px;
  }
  .modal__register-title {
    font-size: 22px;
  }
  .modal__form {
    margin-top: 15px;
    width: 80%;
    row-gap: 10px;
  }
  .modal__form input::placeholder {
    font-size: 15px;
  }
  .modal__form-registration {
    grid-template-rows: repeat(5, 45px);
    row-gap: 7px;
  }
  .modal__btn-registration {
    height: 40px;
    font-size: 11px;
  }
  .footer__copyright {
    font-size: 10px;
  }
  .footer__social {
    width: 50px;
    height: 50px;
  }
  .footer__social-item {
    width: 18px;
    height: 18px;
  }
  .footer__logo {
    width: 50px;
  }
}