@charset "UTF-8";
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  min-height: 100vh;
  position: relative;
  padding: 20px 140px;
}

.title {
  font-size: 48px;
}

.btn {
  border-radius: 20px;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 3;
  opacity: 0.5;
  display: none;
}
.overlay__show {
  display: block;
}

.social {
  width: 50px;
  height: 80px;
}
.social img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.social__item img {
  width: 100%;
  height: 100%;
}

.promo {
  background: linear-gradient(to right, rgb(141, 112, 255) 90%, rgb(141, 112, 255));
}

.promo__description-text {
  font-size: 36px;
}
.promo__description-levels {
  margin-top: 20px;
  list-style-type: none;
  font-size: 32px;
  position: relative;
}
.promo__description-level {
  position: relative;
  padding-left: 20px;
  margin-top: 10px;
}
.promo__description-level::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100%;
  background-color: #eaea00;
}
.promo__description-level-line {
  position: absolute;
  width: 40px;
  height: 0.5px;
  background-color: #000;
  left: -20px;
  top: 50%;
}

.btn {
  width: 350px;
  height: 70px;
  background-color: #eaea00;
  border: none;
  font-size: 26px;
  text-transform: uppercase;
  color: #000;
  margin-top: 20px;
  cursor: pointer;
}
.btn:hover {
  background-color: #7be33a;
}
.btn:active {
  font-size: 18px;
}

.promo__img-wrapper {
  width: 620px;
  position: absolute;
  right: 120px;
  bottom: 0;
}
.promo__img-wrapper img {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.promo__left {
  margin-top: 40px;
  color: #fff;
}

.promo__content {
  display: flex;
}

.logo {
  width: 100px;
}
.logo img {
  width: 100%;
}

.header__menu-items {
  list-style-type: none;
  display: flex;
  /* max-width: 520px; */
  justify-content: space-between;
}

.header__menu-item {
  display: flex;
  margin-right: 150px;
  z-index: 5;
}
.header__menu-item a {
  color: #fff;
  color: #000;
  font-size: 17px;
  text-decoration: none;
  text-transform: uppercase;
}

.header__menu-item a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.header__wrapper {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, rgb(141, 112, 255) 90%, rgb(141, 112, 255));
}

.header__login {
  width: 200px;
  height: 60px;
  background: black;
  cursor: pointer;
  z-index: 2;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 5px;
  text-transform: uppercase;
}

.header__login:active {
  background-color: #888787;
  font-size: 18px;
}

.header__login:hover {
  background-color: #769862;
}

.modal {
  width: 380px;
  min-height: 270px;
  background-color: #206e9a;
  padding: 20px 0;
  box-shadow: inset 15px -20px 40px rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  transition: opacity 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
}
.modal__show {
  visibility: visible;
  opacity: 1;
}
.modal__choose {
  color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
}
.modal__form {
  margin: 0 auto;
  margin-top: 30px;
  width: 90%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, 50px);
  row-gap: 15px;
}
.modal__form input {
  border-radius: 5px;
  border: none;
  padding: 0px 10px;
}
.modal__form input::placeholder {
  color: grey;
  font-size: 18px;
}
.modal__form-login {
  grid-template-rows: repeat(2, 50px);
}
.modal__btn {
  background-color: #5fb029;
  color: #fff;
  width: 180px;
  font-size: 16px;
  margin: 0 auto;
}
.modal__btn-registration {
  width: 220px;
}
.modal__btn:active {
  font-size: 14px;
}
.modal__close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  z-index: 2;
}
.modal__close::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  width: 25px;
  height: 2px;
  background-color: #fff;
  transform: rotate(45deg);
}
.modal__close::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  width: 25px;
  height: 2px;
  background-color: #fff;
  transform: rotate(-45deg);
}
.modal__registration {
  display: none;
  transition: all 0.5s;
}
.modal__registration-active {
  display: block;
}
.modal__choose {
  font-size: 26px;
}
.modal__login-title {
  cursor: pointer;
}
.modal__register-title {
  cursor: pointer;
}
.modal__login-title-active, .modal__register-title-active {
  text-decoration: underline;
  text-underline-offset: 7px;
}
.modal__login-wrapper {
  display: none;
}
.modal__login-wrapper-active {
  display: block;
}

.sidepanel {
  position: fixed;
  top: 150px;
  left: 5px;
  height: 400px;
}
.sidepanel__social {
  display: grid;
  grid-template-rows: 30px 30px;
  row-gap: 20px;
}
.sidepanel__line {
  width: 200px;
  height: 1px;
  background-color: #000;
  transform: rotate(90deg);
  position: absolute;
  left: -75px;
  top: 200px;
}
.sidepanel__text {
  position: absolute;
  width: 150px;
  bottom: 10px;
  transform: rotate(-90deg);
  left: -52px;
  font-size: 18px;
}

.product__cards {
  background-color: #ececec;
}

.product__cards-title {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
}

.product__cards-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.product__cards-item {
  margin-right: 50px;
  margin-bottom: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 450px;
  text-align: center;
  font-size: 26px;
  padding: 40px 30px;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  min-height: 450px;
}

.product__cards-item-descr {
  margin-top: 10px;
  line-height: 30px;
}

.product__cards-item-details {
  text-underline-offset: 5px;
  margin-top: 15px;
}

.product__cards-item-modal {
  display: none;
  padding-top: 40px;
  padding-bottom: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  width: 720px;
  min-height: 350px;
  background-color: #ececec;
  line-height: 40px;
  font-size: 28px;
}
.product__cards-item-modal-title {
  font-size: 32px;
  font-weight: bold;
}

.product__cards-item-bottom {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

/* Общий фон страницы */
/* Секция с курсом */
.course-details {
  font-family: "Arial", sans-serif;
  background: linear-gradient(to right, rgb(141, 112, 255) 90%, rgb(141, 112, 255));
  color: #fff;
  padding: 40px 0;
  padding-top: 120px;
  position: relative;
}

.course-details-back {
  width: 10%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.08);
  position: fixed;
  left: 0;
  top: 0;
  border: none;
  cursor: pointer;
}

.course-details-back:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.course-details-arrow {
  width: 80px;
  height: 80px;
}

.course-details-back:active {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Контейнер для содержимого */
.course-details .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

/* Оформление заголовка курса */
.course-details-title {
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 30px;
}

.course-details-title-icon {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -110px;
  left: 50%;
  transform: translateX(-50%);
}

/* Описание курса */
.course-details-description {
  font-size: 24px;
  line-height: 1.6;
  margin-bottom: 30px;
}

/* Оформление списка целей */
.course-details-purpose,
.course-details-audience {
  margin-bottom: 60px;
}

/* Подзаголовок */
.course-details-subtitle {
  font-size: 29px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

/* Список элементов */
.course-details-list {
  margin-top: 30px;
  padding-left: 0;
  list-style-type: none;
  font-size: 22px;
  line-height: 1.6;
}

/* Пункты списка */
.course-details-list-item {
  position: relative;
  padding-left: 25px;
  margin-bottom: 15px;
}
.course-details-list-item::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  left: -30px;
  top: 0px;
  background-image: url("../icons/baidu-svgrepo-com.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.course-details-list-item-goal::before {
  background-image: url("../icons/goal.svg");
}

.course-details-list-item-content::before {
  background-image: url("../icons/content.svg");
}

/* Мобильная адаптация */
@media (max-width: 1280px) {
  .course-details {
    padding-top: 80px;
  }
  .course-details .container {
    max-width: 720px;
  }
  .course-details-title-icon {
    width: 70px;
    height: 70px;
  }
  .course-details-title {
    font-size: 35px;
    margin-bottom: 20px;
  }
  .course-details-subtitle {
    font-size: 28px;
  }
  .course-details-list {
    margin-top: 10px;
  }
  .course-details-list-item {
    margin-bottom: 10px;
    padding-left: 20px;
  }
  .course-details-list-item::before {
    margin-top: 2px;
    left: -20px;
  }
  .course-details-purpose,
  .course-details-audience {
    margin-bottom: 40px;
  }
}
.hamburger {
  padding: 5px 20px;
  width: 200px;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  z-index: 2;
  left: -200%;
  visibility: hidden;
  transition: all 0.5s;
}

.hamburger__active {
  left: 0;
  visibility: visible;
}

.close__btn {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 15px;
  right: 5px;
  cursor: pointer;
}
.close__btn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.close__btn:active {
  width: 35px;
  height: 35px;
}

.hamburger__header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.hamburger__logo {
  width: 70px;
  padding-left: 0px;
}

.hamburger__login {
  width: 100px;
  height: 35px;
  font-size: 15px;
  margin: 0 auto;
  margin-top: 20px;
}

.hamburger__menu-items {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  margin-top: 20px;
}
.hamburger__menu-items a {
  color: #000;
  text-decoration: none;
}

.hamburger__menu-item {
  position: relative;
}

.hamburger__menu-item::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 1px solid #000;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.hamburger__menu-item a:hover::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 1px solid #000;
  background-color: #eaea00;
  border: none;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.hamburger__menu-item a:active {
  font-size: 15px;
}

.hamburger__social {
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.hamburger__social-links {
  max-width: 100px;
  display: flex;
  justify-self: center;
  margin-top: 20px;
}

.hamburger__social-title {
  font-size: 18px;
  text-align: center;
}

.hamburger__social-link {
  width: 22px;
  height: 22px;
  margin-left: 15px;
  margin-right: 15px;
}
.hamburger__social-link img {
  width: 100%;
  height: 100%;
}

.hamburger__toggle {
  position: fixed;
  top: 10px;
  left: 5px;
  z-index: 5;
  visibility: hidden;
  transition: all 0.5s;
}

.hamburger__toggle-line {
  width: 20px;
  height: 2px;
  background-color: #000;
  z-index: 10;
  margin-top: 3px;
}

.hamburger__toggle-hide {
  left: -200%;
  visibility: hidden;
}

.footer {
  background: linear-gradient(to right, rgb(141, 112, 255) 90%, rgb(141, 112, 255));
}

.footer__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__social-item {
  width: 20px;
  height: 20px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__copyright {
  font-size: 20px;
}

.social {
  width: 50px;
  height: 80px;
}
.social img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.social__item img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1280px) {
  .logo {
    width: 80px;
  }
  .sidepanel {
    top: 80px;
  }
  .sidepanel__social {
    width: 20px;
    grid-template-rows: 25px 25px;
    row-gap: 15px;
  }
  .sidepanel__line {
    left: -65px;
    width: 150px;
    top: 150px;
  }
  .sidepanel__text {
    bottom: 120px;
    left: -66px;
    font-size: 15px;
  }
  .container {
    padding: 20px 100px;
  }
  .header__login {
    width: 150px;
    height: 50px;
  }
  .title {
    font-size: 42px;
    line-height: 46px;
  }
  .promo__description-text {
    font-size: 28px;
  }
  .promo__img-wrapper {
    width: 400px;
    right: 70px;
  }
  .promo__left {
    margin-top: 0;
  }
  .promo__description-levels {
    font-size: 25px;
  }
  .promo__description-btn {
    width: 250px;
    font-size: 20px;
    height: 60px;
  }
  .product__cards-title {
    font-size: 28px;
  }
  .product__cards-item {
    max-width: 334px;
    padding: 15px 15px;
    min-height: 380px;
    margin-right: 20px;
  }
  .product__cards-item-title {
    font-size: 22px;
  }
  .product__cards-item-descr {
    font-size: 19px;
    line-height: 29px;
  }
  .product__cards-item-details {
    font-size: 20px;
  }
  .product__cards-item-bottom {
    bottom: 30px;
  }
  .product__cards-item-btn {
    width: 180px;
    font-size: 20px;
    height: 45px;
    margin-top: 15px;
  }
  .footer__copyright {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  .header__menu-item {
    margin-right: 70px;
  }
  .header__menu-item a {
    font-size: 16px;
  }
  .container {
    padding: 20px 50px;
  }
  .title {
    font-size: 40px;
    line-height: 44px;
  }
  .promo__description-text {
    font-size: 26px;
  }
  .promo__description-level {
    font-size: 24px;
  }
  .logo {
    width: 70px;
  }
  .promo__img-wrapper {
    width: 350px;
    right: 5px;
  }
  .promo__description-btn {
    width: 230px;
    font-size: 17px;
    height: 50px;
  }
  .product__cards .container {
    padding: 20px 20px;
  }
  .product__cards-item {
    min-height: 360px;
  }
  .product__cards-item-descr {
    margin-top: 5px;
  }
  .product__cards-item-details {
    font-size: 19px;
  }
  .product__cards-item-btn {
    width: 150px;
    font-size: 18px;
    height: 45px;
  }
  .product__cards-item-bottom {
    bottom: 20px;
  }
}
@media (max-width: 768px) {
  .modal__show {
    width: 320px;
  }
  .modal__login-title-active {
    font-size: 24px;
  }
  .modal__btn {
    width: 150px;
    height: 50px;
  }
  .container {
    padding: 20px 30px;
  }
  .product__cards .container {
    padding: 20px 30px;
  }
  .logo {
    width: 60px;
  }
  .header__menu-item {
    margin-right: 25px;
  }
  .header__menu-item a {
    font-size: 15px;
  }
  .header__login {
    width: 100px;
    height: 35px;
    font-size: 15px;
  }
  .sidepanel__social {
    width: 17px;
    row-gap: 10px;
  }
  .sidepanel__line {
    left: -67px;
  }
  .sidepanel__text {
    font-size: 14px;
  }
  .promo__description-text {
    max-width: 320px;
    font-size: 24px;
  }
  .promo__description-level {
    font-size: 22px;
  }
  .promo__description-levels {
    margin-top: 15px;
  }
  .promo__description-level-line {
    width: 25px;
  }
  .promo__description-level {
    padding-left: 5px;
    font-size: 20px;
  }
  .promo__description-level::before {
    width: 17px;
    height: 17px;
  }
  .promo__img-wrapper {
    width: 260px;
    right: 0;
  }
  .promo__description-btn {
    width: 200px;
    font-size: 16px;
  }
  .title {
    font-size: 36px;
    line-height: 40px;
  }
  .product__cards-title {
    font-size: 26px;
  }
  .product__cards-item {
    min-height: 350px;
    max-width: 250px;
    margin-right: 7px;
    padding: 10px 10px;
  }
  .product__cards-item-title {
    font-size: 20px;
  }
  .product__cards-item-descr {
    line-height: 25px;
    font-size: 18px;
  }
  .product__cards-item-bottom {
    bottom: 20px;
  }
  .product__cards-item-details {
    font-size: 18px;
  }
  .product__cards-item-btn {
    width: 130px;
    font-size: 17px;
    height: 42px;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 10px 30px;
  }
  .modal {
    max-width: 250px;
  }
  .header {
    display: none;
  }
  .sidepanel {
    display: none;
  }
  .title {
    font-size: 30px;
    line-height: 30px;
  }
  .promo__description-text {
    margin-top: 5px;
    line-height: 26px;
  }
  .promo__img-wrapper {
    display: none;
  }
  .promo__description-level {
    font-size: 18px;
  }
  .promo__description-level::before {
    width: 15px;
    height: 15px;
  }
  .promo__description-level-line {
    left: -24px;
    width: 28px;
  }
  .promo__description-btn {
    margin-top: 10px;
    width: 180px;
    height: 45px;
    font-size: 15px;
  }
  .product__cards-title {
    font-size: 23px;
  }
  .product__cards-items {
    margin-top: 15px;
  }
  .hamburger__toggle {
    visibility: visible;
  }
  .modal {
    padding: 30px 0;
  }
  .modal__login-title {
    font-size: 22px;
  }
  .modal__register-title {
    font-size: 22px;
  }
  .modal__form {
    margin-top: 15px;
    width: 80%;
    row-gap: 10px;
  }
  .modal__form input::placeholder {
    font-size: 15px;
  }
  .modal__form-registration {
    grid-template-rows: repeat(5, 45px);
    row-gap: 7px;
  }
  .modal__btn-registration {
    height: 40px;
    font-size: 11px;
  }
  .footer__copyright {
    font-size: 10px;
  }
  .footer__social {
    width: 50px;
    height: 50px;
  }
  .footer__social-item {
    width: 18px;
    height: 18px;
  }
  .footer__logo {
    width: 50px;
  }
}